<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="library-list">
          <ion-list-header>Library</ion-list-header>

          @for (item of library; track item.url) {
            <ion-menu-toggle auto-hide="false">
              <ion-item
                routerDirection="root"
                [routerLink]="[item.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  [ios]="item.icon + '-outline'"
                  [md]="item.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ item.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <ion-list id="settings-list">
          <ion-list-header>Settings</ion-list-header>

          @for (item of settings; track item.url) {
            <ion-menu-toggle auto-hide="false">
              <ion-item
                routerDirection="root"
                [routerLink]="[item.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  [ios]="item.icon + '-outline'"
                  [md]="item.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ item.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>