:host {
  display: block;
  height: 100%;
}

ion-content {
  --background: #111;
}

ion-content::part(scroll) {
  display: flex;
}

ov-page-canvas {
  flex: 1 1 auto;
  display: block;
  min-height: 0;
}